h1{
	background-color: #F4A460;
	color: black;
	box-shadow: 5px 10px #888888;
	height: 75px;
	padding-top: 50px;
}

input{
	width: 200px;
	box-sizing: border-box;
	border: 5px solid #ccc;
	font-size: 14px;
	background-color: white;
	background-image: url('searchicon.png');
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition:width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	margin-left: 950px; 
}


input[type=text]:focus {
  width: 50%;
}


#SlideShow {
  margin: auto;
  margin-top: 1em;
}
.autoSlides {
  height: 300px;
  margin: auto;
}